#!/bin/sh
# vim:filetype=sh:tw=80:et

# {{ if eq .osid "darwin" }}

brew install ripgrep;
brew install fd;
brew install fzf;
brew install tmux;
brew install tree;
brew install bat;
brew install coreutils;

# {{ else if eq .osid "linux-arch" }}

#################################################################
#                                                               #
# INSTALL NIMF HERE                                             #
# - https://github.com/hamonikr/nimf                            #
#                                                               #
# INSTALL ROFI THEMES HERE                                      #
# - https://github.com/Murzchnvok/rofi-collection               #
#                                                               #
#################################################################

yes | yay -Sy --answerdiff=None ripgrep;
yes | yay -Sy --answerdiff=None fd;
yes | yay -Sy --answerdiff=None fzf;
yes | yay -Sy --answerdiff=None tmux;
yes | yay -Sy --answerdiff=None flameshot;
yes | yay -Sy --answerdiff=None rofi;
yes | yay -Sy --answerdiff=None polybar;
yes | yay -Sy --answerdiff=None bspwm;
yes | yay -Sy --answerdiff=None papirus-icon-theme;
yes | yay -Sy --answerdiff=None nitrogen;
yes | yay -Sy --answerdiff=None ttf-font-awesome;
yes | yay -Sy --answerdiff=None bat;
yes | yay -Sy --answerdiff=None tree;
yes | yay -Sy --answerdiff=None trayer-srg-git;
yes | yay -Sy --answerdiff=None yay -Syu pulseaudio;
yes | yay -Sy --answerdiff=None yay -Syu pavucontrol;
yes | yay -Sy --answerdiff=None yay -Syu font-manager;
yes | yay -Sy --answerdiff=None yay -Syu network-manager-applet;
yes | yay -Sy --answerdiff=None yay -Syu networkmanager;
yes | yay -Sy --answerdiff=None yay -Syu thunar;
yes | yay -Sy --answerdiff=None yay -Syu noto-fonts-cjk;
yes | yay -Sy --answerdiff=None yay -Syu noto-fonts-emoji;
yes | yay -Sy --answerdiff=None yay -Syu noto-fonts-extra;

# {{ end }}
