#!/bin/sh
# vim:filetype=sh:tw=80:et

mkdir -p ~/.zsh;
mkdir -p ~/.config/nvim;

# install fzf
if [ ! -d "$HOME/.fzf" ]; then
  git clone --depth 1 https://github.com/junegunn/fzf.git\
    ~/.fzf

  ~/.fzf/install
else
  echo 'Found fzf directory. skipping..'
fi

# install oh-my-tmux
if [ ! -d "$HOME/.tmux" ]; then
  git clone https://github.com/gpakosz/.tmux.git ~/.tmux\
  ln -s -f .tmux/.tmux.conf

else
  echo 'Found oh-my-tmux directory. skipping..'
fi

# install packer.nvim
if [ ! -d "$HOME/.local/share/nvim/site/pack/packer/start/packer.nvim" ]; then
  mkdir -p ~/.local/share/nvim/site/pack/packer/start/packer.nvim
  git clone --depth 1 https://github.com/wbthomason/packer.nvim\
    ~/.local/share/nvim/site/pack/packer/start/packer.nvim

else
  echo 'Found packer directory. skipping..'
fi

{{ if eq .osid "darwin" }}

brew install ripgrep;
brew install fd;
brew install tmux;

{{ else if eq .osid "linux-arch" }}

sudo yay -Sy ripgrep;
sudo yay -Sy fd;
sudo yay -Sy tmux;

{{ end }}
