# vim:ft=sshconfig ts=2 sw=2 

Include ~/.ssh/local.config

# {{ if eq .osid "darwin" }}
Host home
  HostName home.xvzc.dev
  User jerry
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  ForwardAgent yes
  StrictHostKeyChecking no
  IdentitiesOnly yes
  IdentityFile ~/.ssh/arch.pub

Host xvzc.github.com
	HostName github.com
  ForwardAgent yes
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  IdentityFile ~/.ssh/xvzc.pub

# {{ else if eq .osid "linux-arch" }}
Host xvzc.github.com
	HostName github.com
  ForwardAgent yes

Match Host * exec "test -z $SSH_CONNECTION"
  IdentityAgent "~/.1password/agent.sock"
# {{ end }}

