# vim:filetype=tmux :tw=80:et

set -g default-terminal "wezterm"
set -as terminal-features ",wezterm:RGB"

# 0 is too far from ` ;)
setw -g pane-base-index 1
set -g base-index 1

# Automatically set window title
set-window-option -g automatic-rename on
set-option -g set-titles on
# set-option -sa terminal-overrides ",alacritty:Tc"

#set -g default-terminal screen-256color
set -g status-keys vi
set -g history-limit 20000

setw -g monitor-activity on
set -g status-position top

set -g focus-events on

# No delay for escape key press
set -sg escape-time 10

setw -g mode-keys vi
setw -g mouse on

# set-option -g allow-passthrough on
set-option -s set-clipboard on
set -g renumber-windows on


# # {{ if eq .osid "darwin" }}
#
# # Update default binding of `Enter` to also use copy-pipe
# bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "pbcopy"
# bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "pbcopy"
#
# # {{ else if eq .osid "linux-arch" }}
#
# bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "xclip -selection c"
# bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xclip -in -selection clipboard"
#
# # {{ end }}
#
