<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>A7A22C28-F04E-4C13-BE8E-AFC9E05EEF13</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>s</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search StackOverflow for '{query}'</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
